APP_PORT=8000
APP_ENV=development
MODEL_DIR=./models

DB_SERVER=localhost\SQLEXPRESS
DB_NAME=QuanLyDuAn_AI
DB_DRIVER=ODBC Driver 18 for SQL Server

# Để trống DB_USERNAME/DB_PASSWORD nếu dùng Windows Authentication (local)
DB_USERNAME=
DB_PASSWORD=
