<h2>Kanban Board</h2>

<div class="kanban-board">
  <div class="kanban-column">
    <h3>Todo</h3>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[inProgressList, reviewList, doneList]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (task of todo; track task) {
        <div class="task-card" cdkDrag>{{ task }}</div>
      }
    </div>
  </div>

  <div class="kanban-column">
    <h3>In Progress</h3>

    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[todoList, reviewList, doneList]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (task of inProgress; track task) {
        <div class="task-card" cdkDrag>{{ task }}</div>
      }
    </div>
  </div>

  <div class="kanban-column">
    <h3>Review</h3>

    <div
      cdkDropList
      #reviewList="cdkDropList"
      [cdkDropListData]="review"
      [cdkDropListConnectedTo]="[todoList, inProgressList, doneList]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (task of review; track task) {
        <div class="task-card" cdkDrag>{{ task }}</div>
      }
    </div>
  </div>

  <div class="kanban-column">
    <h3>Done</h3>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, inProgressList, reviewList]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (task of done; track task) {
        <div class="task-card" cdkDrag>{{ task }}</div>
      }
    </div>
  </div>
</div>